/* Put your CSS here. */

h1{
    font-family: Georgia ;
    font-size: 20px ;
}
body, h2{
    font-size: 12px ;
}
#author {
    font-family: Georgia ;
    text-transform: uppercase;
    line-height: 1px ;
}
h2{
    font-weight: normal ;
    
}

h3{
/*    visibility: hidden ;*/
    display: none ;
    font-family: Verdana ;
    text-transform: uppercase ;
    color: dimgrey ;
}

.stanza1{
    font-family: Helvetica, sans-serif;
    color: #41ad49 ;
      
}

.stanza2{
    font-family: Georgia, serif;
    color: #25408f ;
}

.stanza3{
    font-family: Courier, monospace; 
    color: #ec008c ;
}

.stanza1, .stanza2, .stanza3{
    color: black ;
}

p::first-line {
    text-transform: uppercase ;
}