body {
    font-family: cursive ;
    font-size: 20px ;
    line-height: 20px ;
    padding: 15px ;
    background-color: darkorchid;
    color: azure ;
    border: 8px dashed cornflowerblue ;
}

h2, h3 {
    font-family: fantasy ;
    font-size: 30px ;
    color: cornflowerblue ;
    
}

h1 {
    font-family: fantasy ;
    font-size: 40px ;
    color: cornflowerblue;
    
}